<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qb.myblog.mapper.MbCommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qb.myblog.entity.MbComment">
        <id column="id" property="id" />
        <result column="article_id" property="articleId" />
        <result column="content" property="content" />
        <result column="user_id" property="userId" />
        <result column="like_num" property="likeNum" />
        <result column="approve_state" property="approveState" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, article_id, content, user_id, like_num, approve_state, create_time, create_by, update_time, update_by
    </sql>

</mapper>
